
html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'helvetica', 'arial', 'sans';
  align-items:center;
  justify-content:space-between;
}

h1,h2,h3,h4 {
  font-family: 'helvetica', 'arial', 'sans';
  }


a {
  color: #000;
}

.header {
  background: #fff;
  color: #000;
  height: auto;
  padding: 30px 30px 30px;
}

.header h1 {
  font-size: 50px;
  }

.assignment {
  font-size: 12px;
  line-height: 24px;
  font-family: 'helvetica', 'arial', 'sans';
  padding: 20px 20px 20px 30px;
  width: 250px;
  height: 350px;
  overflow: hidden;
  float: left;
}

.assignment:hover { overflow:auto }

.assignment a {
    color: #000;
    text-decoration: none;
}

.assignment a:hover {
  background: #F06;
  color: #F06;
  text-decoration: none;
}

.footer {
    width: 1100px;
    float: left;
    padding: 300px 0px 30px 30px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}



.widebody a:hover {
  background: #F06;
  color: #FFF;
  text-decoration: none;
}

code {
  display: block;
  white-space: pre-line;   
}

.banner {
  align-items:center;
  justify-content:center;
}

.banner img {
  width: 40rem;
}


.half-display {
  display:flex;
  align-items:flex-start;
  justify-content:space-between;
}

.half-display img {
  width: 50rem;
}

.half-display div {
  margin: 5rem;
}

.circuit img {
  width: 20rem;
}

.description {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}